//font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");

//variables
$primaryColor: white;
$secondaryColor: #7a7d82;
$tersierColor: #655eb5;

//style
body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../images/hero.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 50vmax;
}
//hero
#hero {
  margin-bottom: 5rem;
  padding-bottom: 5rem;

  //navbar
  #navbarNav {
    .nav-item {
      .nav-link {
        color: $secondaryColor;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 2.2em;
      }
    }
  }
  //content
  #content {
    .container {
      margin-right: 90px;
      .row {
        .col {
          h3 {
            margin-top: 80px;
            font-weight: 800;
            margin-left: 5em;
          }
          p {
            margin-top: 10px;
            text-align: left;
            margin-left: 12.2em;
          }
          a {
            padding: 10px;
            margin-left: 12.8em;
            margin-top: 3rem;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
//about
